body {
    color: #fff;
    font-family: sans-serif;
    padding: 0.25rem;
}

#network-interfaces {
    font-family: monospace
}

#leaves {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.leaf {
    padding-right: 1.5rem;
}

h2.leaf-name {
    margin-bottom: 0;
}

.leaf-axis {
    display: grid;
    grid-template-columns: 2rem 4rem 32px 36px 36px 6rem 10rem 13rem;
    height: 2.1rem;
    align-items: center;
    text-align: center;
}

.leaf-axis-value {
    font-family: 'Source Code Pro', monospace;
    font-size: 110%;
}

.leaf-axis-target {
    background-color: #333;
    color: #fff;
    height: 75%;
}

.leaf-axis-target-address {
    margin-left: 0.5em;
}

.leaf-axis-expression {
    margin-left: 0.5em;
    resize: vertical;
}
